<div style="padding: 13px;">
    <ag-grid-angular 
      style="width: 1000px; height: 200px;" 
      suppressMenuHide= "true"
      [pagination]="true"
      paginationAutoPageSize=true
      class="ag-theme-balham"
      [rowData]="householdItems" 
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [context] = "context"
      (cellValueChanged)="onCellValueChanged($event)">
  </ag-grid-angular>
    </div>