<form [formGroup] = "addItem" class="add-form"  (ngSubmit)="onSubmit()"> 
    <mat-form-field class="item-full-width">
      <input type="text"
             placeholder="Serial Number"
             aria-label="Number"
             matInput             
             formControlName="serial_no"/>      
    </mat-form-field>

    <mat-form-field class="item-full-width">
      <input type="text"
             placeholder="Brand"
             aria-label="Number"
             matInput
             formControlName="brand"/>
    </mat-form-field>

    <mat-form-field class="item-full-width">
      <input type="text"
             placeholder="Model"
             aria-label="Number"
             matInput
             formControlName="model"/>
    </mat-form-field>

    <mat-form-field class="item-full-width">
      <input type="text"
             placeholder="Status"
             aria-label="Number"
             matInput
             formControlName="status"/>
    </mat-form-field>

    <mat-form-field class="item-full-width">
      <input type="date"
             placeholder="Date Bought"
             aria-label="Number"
             matInput
             formControlName="date_bought"/>
    </mat-form-field>

  </form>

  <div class="button-content">
    <button mat-raised-button color="primary"  (click)="onSubmit()" >Add Item</button>
</div>