<mat-toolbar color="primary">
  <h1 routerLink="/">
    Household Store
  </h1>
  <!-- <button mat-button routerLink="/">Home</button> -->
  <button mat-button routerLink="/item">Add</button>
</mat-toolbar>
<router-outlet></router-outlet>