@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ag-cell-focus,.ag-cell-no-focus{
    border:none !important;
  }
.no-border.ag-cell:focus{
    border:none !important;
    outline: none;
  }
